body{
    
    margin: 0;
    padding: 0;
   background: url(../img/Girl-using-smartphone-blue.png)  no-repeat;
    font-family: sans-serif;
    height: 100vh;
}

.loggin{
    width: 320px;
    height: 420px;
    background: whitesmoke;
    top: 50%;
    left: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
}

.loggin .logo{
    
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50%-25px);
    padding: 0;
    margin: 0;
}

.loggin h1{
    padding: 0 0 20px;
    margin: 0;
    text-align:center;
    font-size: 40px;
}

.loggin label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.loggin input{
    width: 100%;
    margin-bottom: 20px;
}
.loggin input[type="text"],.loggin input[type="password"]{
    border: none;
    border-bottom: 1px solid #bbb;
    outline: none;
    height: 40px;
    color: #019DF4;
    font-size: 16px;
}
.loggin input[type="submit"]{
    border: none;
    height: 50px;
    background: #019DF4;
    color: aliceblue;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 15px;
}
