
*{
    background: yellow;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    position: relative;
}
.contenedor aside{
    background: #019DF4;
    height: 100vh;
    width: 10%;
    margin: 0;
    padding: 0;
    position: absolute;
}
main{
    background: red;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 90%;
    
    float: right;
   
}
.buscar{
    background: #fff;
    height: 10%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    
}
.buscar h1{
    
    font-size: 22px;
    height: 100%;
    margin: 0px;
    padding: 15px;
    background-color: #019DF4;

}
.debajo{
    background: yellow;
    height: 90%;
    width: 100%;
    position: relative;
}
.caja_buscador{
    background: blue;
    height: 100%;
    width: 90%;
    position: absolute;
}
.navegacion{
    height: 100%;
    width: 10%;
    background: rebeccapurple;
    float: right;
}