
*{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    position: relative;
}
.contenedor aside{
    background: #019DF4;
    height: 100vh;
    width: 10%;
    margin: 0;
    padding: 0;
    position: absolute;
}
main{
    
    padding: 0;
    margin: 0;
    height: 100%;
    width: 90%;
    
    float: right;
   
}
.buscar{
    background: #fff;
    height: 10%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(213, 214, 214);
}
.buscar h1{
    
    font-size: 22px;
    height: 100%;
    margin: 0px;
    padding: 15px;
    

}
.debajo{
    
    height: 90%;
    width: 100%;
    position: relative;
}
.caja_buscador{
    
    height: 100%;
    width: 90%;
    position: absolute;
}
.navegacion{
    height: 100%;
    width: 10%;
    border: 1px solid rgb(213, 214, 214);
    float: right;
}
.busca{
    width: 97%;
    height: 200px;
    margin: 15px;
    background: white;
    border: 1px solid rgb(213, 214, 214);
    display: block;
}
p{
    color: gray;
    font-size: 12px;
    
}
select{
    width: 100%;
    height: 30px;
    
}
option{
    width: 150px;
    height: 30px;
}
input{
    width: 100%;
    height: 30px;
}
button{
    width: 150px;
    height: 30px;
    
}
.contnt{
    display: inline-block;
    width: 30%;
    height: 100px;
    
    background: #019DF4;
}