*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y:hidden;
    font-family: RobotoCondensed ;
}
@font-face {
    font-family: RobotoCondensed;
    src: url(../../fonts/RobotoCondensed-Regular.ttf);
}
body{
    background: white;
}
#contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}
.nav{
    background: #019DF4;
    width: 8%;
    height: 100%;
    
}
.nav img {  width: 30px; height: 30px; margin-top: 10px;}
.center{
    margin-top: 100px;
    height: auto;

}
.modulos a{
    text-decoration: none;
    color: white;
}

.nav .modulos {
    margin: 10px 0;
    height: 80px;
    color: aliceblue;
    font-family: RobotoCondensed ;
    text-align: center;
}
.cuadro{
    background: white;
    width: 92%;
    height: 100%;
    
}
.header{
    width: 100%;
    height: 60px;
    
    border: 1px solid lightgray;
    display: block;
   
}

.header p{
    margin: 20px 0 0 15px;
    font-weight: bold;
    font-size: 22px;
}
.box{
    width: 100%;
    height: 90%;
    display: flex;
    border: 1px solid lightgray;
}
.buscador{
    width: 94%;
    height: 100%;
    display: flex;
}
.aside{
    width: 6%;
    height: 100%;
    border-left: 1px solid lightgray;
    
}

.inform{
    width: 23%;
    height: 100%;
    padding: 15px;
    border-right: 1px solid lightgray;
    margin: 0;
}

select{
    width: 90%;
    height: 30px;

}
.inform h4{
    color: rgb(59, 58, 58);
    font-weight: lighter;
    font-size: 14px;
    margin-top: 15px;
    font-family: RobotoCondensed ;
}
.inform p{
    margin-top: 7px;
    font-weight: bold;
}

.suscripcion{
    width: 250px;
    height: 60%;
    padding: 15px;
    margin: 15px;
    background: white;
    border: 1px solid lightgray;
}

.suscripcion p{
    
    font-size: 14px;
    line-height: 2;

}

.detalles{
    display: flex;
}

.resfact{
width: 460px;
height: 40%;
margin-top: 15px;
margin-right: 15px;
padding: 15px;
border: 1px solid lightgray;

}
.monto{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.deuda{
    display: flex;
    justify-content: space-between;
    
}
.tamitpend{
    width: 460px;
    height: 40%;padding: 15px;
    border: 1px solid lightgray;
    margin-top: 15px;


}
.tamitpend .celdaTramit{
    width: 95%;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    
}

