*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y:hidden;
    font-family: RobotoCondensed ;
}
@font-face {
    font-family: RobotoCondensed;
    src: url(../../fonts/RobotoCondensed-Regular.ttf);
}
body{
    background: white;
}
#contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}
.nav{
    background: #019DF4;
    width: 8%;
    height: 100%;
    
}
.cuadro{
    background: white;
    width: 92%;
    height: 100%;
    
}
.header{
    width: 100%;
    height: 10%;
    border: 1px solid lightgray;
    
    
}
.header p{
    font-size: 24px;
    font-family: monospace;
    margin: 15px 0 0 10px;
}
.box{
    width: 100%;
    height: 90%;
    display: flex;
    border: 1px solid lightgray;
}
.buscador{
    width: 94%;
    height: 100%;
    padding: 15px;
    background: rgba(250, 249, 249);
}
.aside{
    width: 6%;
    height: 100%;
    border-left: 1px solid lightgray;
    
}
.boxbuscar{
    
    width: 100%;
    height: 23%;
    border: 1px solid lightgray;
    background: white;
}
.entradas{
    width: 100%;
    height: 75%;
    display: flex;
}
.descipcion{
    width: 100%;
    height: 35px;
}
.descipcion p{
    padding: 5px 0 0 5px;
    font-size: 12px;
    margin-left: 15px;
}
hr{
    margin: 0 10px;
}
#cuadros{
    
    width: 33%;
    
}

select{
    width: 320px;
    height: 32px;
    display: block;
    margin-left: 15px;
}
.slin p{
    margin-left: 15px;
    color: gray;
}
#cuadros p{
    margin-top: 15px;

}

.Input-in{
    color: gray;
}
input{
    width: 320px;
    height: 30px;
    
}
.btin{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* button{
    background: #019DF4;
    color: white;
    width: 320px;
    height: 35px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
} */

#btn{
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    display: block;
    font-weight: bold;
    color: white;
    background: #019DF4;
    border-radius: 3px;
    margin: auto;
    height: 25px;
    width: 100%;

}

.aside__note{
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
}
.aside__note:hover{
    border-left: 2px solid #019DF4;
}